# Ignore node_modules
node_modules/

# Ignore test configuration and spec files
karma.conf.js
spec/

.env
.env.development
.env.production
# Ignore the entire src directory
src/
# Ignore the entire tests directory
tests/
